{% extends 'layouts/app.html.twig' %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">...</h1>
    <p class="bg-white mb-2"><span class="font-semibold">Title:</span> {{ article.title }}</p>
    <p class="bg-white mb-2"><span class="font-semibold">By</span> {{ article.author }}</p>
    <p class="bg-white mb-4"><span
                class="font-semibold">..</span> {{ article.content }}</p>
{% endblock %}